
<div class='container pt-4 pb-4'>
  <mat-card class='col-sm-12 voting_checkbox text-center voting-lists'>
      <h4> Select your VOTE for following candidate ....</h4>
      <mat-radio-group  [(ngModel)]="selected">
          <mat-radio-button value="1">candidate 1'''  </mat-radio-button><br>
          <mat-radio-button value="2">candidate 2'''  </mat-radio-button><br>
          <mat-radio-button value="3">candidate 3''' </mat-radio-button><br>
          <mat-radio-button value="4">candidate 4''' </mat-radio-button><br>
          <mat-radio-button value="5">candidate 5''' </mat-radio-button><br>
        </mat-radio-group>
              <div>
                  <button mat-raised-button class='mr-2' color='primary' (click)="onSubmit()">submit</button>   

            <button mat-raised-button color='primary' class='mr-2' (click)="onViewResul()">ViewResult</button>

            <button mat-raised-button color='primary' (click)="onvalid()">check chain is valid</button>
      </div>
      <div *ngIf='showResult' class='table_view'>
           C1  : {{ c11_count}}<br>
           C2  : {{ c22_count}}<br>
           C3  : {{ c33_count}}<br>
           C4  : {{ c44_count}}<br>
           C5  : {{ c55_count}}<br>
      </div>
    </mat-card>
  </div>    
