<div class="container" >
  <div class='row'>
      <mat-card class='col-sm-4 login_input'>
          <mat-card-title class="text-center">Voters Login </mat-card-title>
         <div class="form-group">
             <input type="text" class="form-control" [(ngModel)]="userName" placeholder="username" required=""/>
             </div>

           <div class="form-group">
             <input type="password" class="form-control" [(ngModel)]="passWord" placeholder="password" required=""/>
           </div>
           <div  class="text-center">
              <button class="mr-4" mat-raised-button color='primary' (click)="onClick()">login</button>
                 
              <button mat-raised-button color='primary' (click)="onClear()">clear</button>
              

           </div>
           
     </mat-card>
  </div>
  </div>
